<template>
    <div>
        <h1>About Us Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <h3>Filters (toUPPERCASE):</h3>
        <p>{{ text | toUppercase }}</p>
        <br>
        <h3>Computed Filters :</h3>
        <p>Please type food :</p>
        <input v-model="filterText">
        <ul>
            <li v-for="food in filteredFoods" :key="food">{{ food }}</li>
        </ul>
        <br>
        <h3>Mixins :</h3>
        <p>Please type food :</p>
        <app-list></app-list>
    </div>
</template>

<script>
import List from './List';
import { foodMixin } from './foodMixin';

export default {
	mixins: [foodMixin],
	data() {
		return {
			text: 'Hello there',
		};
	},
	filters: {
		toUppercase(value) {
			return value.toUpperCase();
		}
	},
	components: {
		appList: List
	}
};

</script>