<template>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Company</h3>
            </div>
            <div class="card-body">
                <ul>
                <div class="form-group">
                    <label for="">Company Name</label>
                    <input type="text" v-model="company.companyName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Company Type</label>
                    <input type="text" v-model="company.companyType" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-sm" :disabled="isLoading" @click.prevent="simpan">{{ isLoading ? 'Loading...':'Tambahkan' }}</button>
                </div>
								</ul>
            </div>
        </div>
    </div>
</template>
<script>
export default {
	name: 'CompanyInput',
	data() {
		return {
			company: {
				companyName: '',
				companyType: ''
			}
		};
	},
	methods: {
		simpan() {
			this.$store.dispatch('simpanCompany', this.company);
			this.company = {
				companyName: '',
				companyType: ''
			};
		}
	},
	computed: {
		isLoading() {
			return this.$store.state.isLoading;
		}
	},
};
</script>