<template>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Daftar Company</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Company</th>
                                <th>Tipe Company</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- MELAKUKAN LOOPING DARI COMPUTED PROPERTY agenda() -->
                            <tr v-for="(row, index) in company" :key="index">
                                <td>{{ index+1 }}</td>
                                <td>{{ row.companyName }}</td>
                                <td>{{ row.companyType }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
	name: 'CompanyShow',
	computed: {
	//MEMBUAT COMPUTED company()
		company() {
		//YANG BERISI DATA DARI state listCompany
			return this.$store.state.listCompany;
		}
	}
};
</script>