<template>
    <div>
        <h1>Contact Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
        <app-forms></app-forms>
    </div>
</template>

<script>
import Forms from './Forms.vue';

export default {
	components: {
		appForms: Forms
	}
};
</script>