<template>
    <div>
        <h1>Detail Product Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Product loaded has ID : {{ $route.params.id }}</p>
        <router-link tag="button" class="btn btn-primary" :to="{ name: 'editProduct', params: {id: $route.params.id } }">Edit Product</router-link>
    </div>
</template>