<template>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="card m-3">
            <h5 class="card-header">GET API Request with Fetch</h5>
            <div class="card-body">Total vue packages: {{totalVuePackages}}</div>
						<app-promise></app-promise>
        </div>
    </div>
</template>

<script>
import Promise from './Promise';

export default {
	name: 'get-request',
	components: {
		appPromise: Promise
	},
	data() {
		return {
			totalVuePackages: null
		};
	},
	created() {
		fetch('https://api.npms.io/v2/search?q=vue')
			.then(response => response.json())
			.then(data => (this.totalVuePackages = data.total));
	}
};
</script>
