<template>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="input" :class="{invalid: $v.email.$error}">
                        <h3>Please type your email :</h3>
                        <label for="email">Email :</label>
                        <input type="text" id="email" @blur="$v.email.$touch()" class="form-control" v-model="email">
                        <p v-if="!$v.email.email">Please provide a valid email address</p>
                        <p v-if="!$v.email.required">This field must not be empty</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="input">
                        <label for="sendmail">
                            <input
                                type="checkbox" 
                                id="sendmail" 
                                value="Send Mail" 
                                v-model="sendMail">Send Mail</label>

                        <label for="sendInfomail">
                            <input 
                                type="checkbox" 
                                id="sendInfomail" 
                                value="Send InfoMail" 
                                v-model="sendMail">Send Infomail</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Your Data :</h4>
                        </div>
                        <div class="panel-body">
                            <p>Your Email : {{ email }}</p>
                            <ul>
                                <li v-for="(item, index) in sendMail" :key="index">{{ item }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
export default {
	data(){
		return {
			email: '',
			password: '',
			sendMail: []
		};
	},
	validations: {
		email: {
			required,
			email
		}
	}
};
</script>

<style scoped>
    .input.invalid label{
        color: red;
    }
</style>