<template>
    <div class="container">
        <h1>Welcome to the Home Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<div class="row">
				<div class="col-xs-12">
					<app-users></app-users>
				</div>
			</div>
    </div>
</template>

<script>
import Users from './Users.vue';

export default {
	components: {
		appUsers: Users
	},
};
</script>

<style>
	div.component{
		border: 1px solid black;
		padding: 30px
	}
</style>