<template>
    <div>
        <input v-model="filterText">
        <ul>
            <li v-for="food in filteredFoods" :key="food">{{ food }}</li>
        </ul>
    </div>
</template>

<script>
import { foodMixin } from './foodMixin';

export default {
	mixins: [foodMixin],
	created() {
		console.log('Indexes');
	}
};

</script>