<template>
	<p></p>
</template>

<script>

const posts = [
	{
		title: 'Post One',
		body: 'This is post one'
	},
	{
		title: 'Post Two',
		body: 'This is post two'
	}
];

const createPost = (post) => {
	return new Promise((resolve, reject) => [
		setTimeout(() => {
			posts.push(post);
			const error = false;
			if(!error){
				resolve();
			}else{
				reject();
			}
		}, 2000)
	]);
};

const getPosts = () => {
	setTimeout(() => {
		posts.forEach(post => {
			console.log(post);
		});
	}, 1000);
};

async function init(){
	await createPost({
		title: 'Post three',
		body: 'This is post three'
	});
	getPosts();
}
init();

</script>

<style scoped>

</style>