<template>
  <div class="component">
    <h1>User Data</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p>User Name : {{ name }}</p>
		<p>Reverse Data : {{ switchName() }}</p>
		<button @click="resetName">Reset Name</button>
  </div>
</template>

<script>
export default {
	props: {
		name: {
			type: String,
		}
	},
	methods: {
		switchName() {
			return this.name.split('').reverse().join('');
		},
		resetName() {
			this.name = 'Indra';
			this.$emit('dataWasReset', this.name);
		}
	}
};

</script>

<style scoped>
	div.component {
		background-color:lightpink;
	}
</style>