<template>
  <div class="component">
    <h1>Props Component</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <button @click="changeName">Change User Data</button><hr>
		<div class="row">
      <div class="col-xs-12 col-sm-6">
        <app-user-data :name="name" @dataWasReset="name = $event"></app-user-data>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-user-detail :address="address" @dataWasReset="address = $event"></app-user-detail>
      </div>
    </div>
  </div>
</template>

<script>
import UserData from './UserData.vue';
import UserDetail from './UserDetail.vue';

export default {
	data: function(){
		return {
			name : 'Indra',
			address : 'Jalan Jalan'
		};
	},
	methods: {
		changeName() {
			this.name = 'Ananta';
			this.address = 'Jalan Santai';
		}
	},
	components: {
		appUserData: UserData,
		appUserDetail: UserDetail
	}
};
</script>

<style scoped>
	div {
		background-color: lightblue;
	}
</style>