<template>
  <div class="component">
    <h1>User Detail</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p>User Address : {{ address }}</p>
		<button @click="resetAddress">Reset Data</button>
  </div>
</template>

<script>
export default {
	props: ['address'],
	methods: {
		resetAddress() {
			this.address = 'Jalan Jalan';
			this.$emit('dataWasReset', this.address);
		}
	}
};

</script>

<style scoped>
	div.component {
		background-color:lightgreen;
	}
</style>