<template>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="card m-3">
            <h5 class="card-header">GET API Request with Axios :</h5>
            <div class="card-body" v-for="currency in info" :key="currency">
                {{ currency.description }}:
                <span class="lighten">
                <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
                </span>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
	data: function() {
		return {
			info: null
		};
	},
	mounted(){
		axios
			.get('https://api.coindesk.com/v1/bpi/currentprice.json')
			.then(response => (this.info = response.data.bpi));
	},
	filters: {
		currencydecimal (value) {
			return value.toFixed(2);
		}
	},
};
</script>