<template>
    <div>
        <h1>Vuex Page</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
				<div class="row">
					<app-company-input></app-company-input>
					<hr>
					<app-company-show></app-company-show>
				</div>
				<hr>
				<div>
					<strong>Getters :</strong>
					<app-result></app-result>
					<app-another-result></app-another-result>
					<hr>
					<strong>Mutations :</strong>
					<app-counter></app-counter>
					<br>
					<app-another-counter></app-another-counter>
					<hr>
				</div>
    </div>
</template>

<script>
import Counter from './Counter.vue';
import Result from './Result.vue';
import AnotherResult from './AnotherResult.vue';
import AnotherCounter from './AnotherCounter.vue';
import CompanyInput from './CompanyInput.vue';
import CompanyShow from './CompanyShow.vue';

export default {
	components: {
		appCounter: Counter,
		appResult: Result,
		appAnotherResult: AnotherResult,
		appAnotherCounter: AnotherCounter,
		appCompanyInput: CompanyInput,
		appCompanyShow: CompanyShow
	}
};

</script>

<style scoped>
		.vuexp {
			text-align: center;
		}
</style>