<template>
    <div id="app">
    <input type="text" v-on:input="changeTitle">
    <p>{{title}}</p>
    <p>{{linkGoogle()}} - <a v-bind:href="link">Google</a></p>
    <button v-on:click="increase">Klik untuk increase angka dibawah</button>
    <p>{{counter}}</p>
    <p>Computed Message : {{ computedMessage}}</p>
    </div>
</template>
<script>
export default{
	data(){
		return {
			title: 'Hello',
			link: 'Ini link',
			counter: 0,
			message: 'Helloo'
		};
	},
	methods:{
		changeTitle: function(event){
			this.title = event.target.value;
		},
		linkGoogle: function(){
			return this.link;
		},
		increase: function(){
			this.counter++;
		}
	},
	computed: {
		// a computed getter
		computedMessage: function () {
			// `this` points to the vm instance
			return this.message.split('').reverse().join('');
		}
	}
};
</script>