<template>
    <div class="footer">
        <strong>This is the Footer</strong>
    </div>
</template>

<style scoped>
    .footer {
        position: static;
        background-color: orange;
        text-align: center;
    }
</style>