<template>
    <div class="header">
        <ul class="nav justify-content-end">
            <router-link to="/" tag="li" active-class="active" class="nav-link"><a>Home</a></router-link>
            <router-link to="/aboutus" tag="li" active-class="active" class="nav-link"><a>About</a></router-link>
            <router-link to="/product" tag="li" active-class="active" class="nav-link"><a>Product</a></router-link>
            <router-link to="/contact" tag="li" active-class="active" class="nav-link"><a>Contact Us</a></router-link>
            <router-link to="/vuexpage" tag="li" active-class="active" class="nav-link"><a>Vuex</a></router-link>
            <router-link to="/vueaxios" tag="li" active-class="active" class="nav-link"><a>Vue Axios</a></router-link>
            <router-link to="/fetchapi" tag="li" active-class="active" class="nav-link"><a>Fetch API</a></router-link>
        </ul>
    </div>
</template>

<style scoped>
    .header {
        width: 100%;
        background-color: orange;
    }
</style>