<template>
    <div>
        <h1>{{ vuebasic }}</h1>
    </div>
</template>

<script>
export default {
	name: 'TestingBasic',
	props: {
		vuebasic: String
	},
};
</script>

<style scoped>
    
</style>