<template>
  <div class="container">
    <div class="row">
      <div>
        <appHeader></appHeader>
        <router-view></router-view>
        <appFooter></appFooter>
      </div>
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
export default {
	components: {
		appHeader: Header,
		appFooter: Footer
	}
};

</script>

<style>

</style>
